
.mall_head{ position:relative; width:100%; height:72px; margin:9px 0; background:#fff; z-index:10;}
.mall_head .logo{ width:500px; height:72px; background:url(../img/malllogo.jpg) no-repeat 15px 0;}
.mall_head .logo a{ display:block; width:225px; height:72px;}
.mall_head.fixed{ position:fixed; _position:relative; top:29px; margin:0; height:60px; box-shadow:2px 2px 4px #999; border-bottom:1px solid #ccc; z-index: 10;}
.mall_head.fixed .logo{ height:60px; background:url(../img/malllogo1.jpg) no-repeat;}
.mall_head.fixed .logo a{ height:60px;}

.mall_head .city{ position:absolute; left:270px; top:0;}
.mall_head .city h4{ position:absolute; padding:0 10px; border:1px solid #fff; border-bottom:none; line-height:32px; background:#fff; font-size:12px; color:#333; font-weight:normal; white-space:nowrap; z-index:6;}
.mall_head .city h4 a{ margin:0 1px; font-weight:bold; color:#317ee7;}
.mall_head .city h4.active{ border-color:#ccc;}
.mall_head .city .list{ position:absolute; left:0; top:32px; width:200px; padding:5px 0; border:1px solid #ccc; box-shadow:0 0 3px #bbb; background:#fff; z-index:5;}
.mall_head .city .list li{ float:left; display:inline; width:50px; height:28px; line-height:28px; text-align:center;}
.mall_head .city .list li a{ color:#317ee7; text-decoration:none;}
.mall_head .city .list li a:hover{ color:#ff5500; text-decoration:none;}
.mall_head .city .list li a.active{ color:#ff5500; text-decoration: underline;}
.mall_head .city .tip{ position:absolute; top:34px; width:210px; height:36px; border:1px solid #ccc; box-shadow:0 0 3px #ccc; line-height:36px; background:#fff5d2; font-weight:bold; color:#ff5500; text-indent:10px; z-index:7;}
.mall_head .right{ float:right; width:490px; margin:11px 0 0;}
.mall_head .right .search{ float:right; display:inline; width:340px; height:38px;}
.mall_head .right .search .text{ float:left; display:inline; width:258px;}

.mall_head .right .search .text input { width: 245px;height: 20px;padding: 5px 0 5px 5px;  border: 4px solid #f50;  line-height: 20px;  outline: none;}

.mall_head .right .search .button{ float:left; display:inline; width:82px;}
.mall_head .right .search .button input{ width:82px; height:38px; margin:0; padding:0; border:0; background:#f50; outline:none; font-size:16px; font-weight:bold; color:#fff; cursor:pointer;}
.mall_head .right .carticon{ position:relative; float:right; width:50px; height:36px; margin:0 0 0 7px; border:1px solid #ccc; background:#f1edec; z-index:9999;}
.mall_head .right .carticon.active{ border-color:#f50; background:#f50;}
.mall_head .right .carticon .icon_cart {  display:block;  width: 50px;  height: 36px;  background: url("../img/mallNavCart.png") 50% 50% no-repeat;  cursor: pointer;  }

.mall_head .right .carticon .icon_cart_empty {  background-image: url("../img/mallNavCartEmpty.png");  }

.mall_head .right .carticon .cartnum{ position:absolute; top:-7px; left:37px; width:20px; height:14px; border-radius:3px; line-height:14px; background:#3a83e8; color:#fff; text-align:center;}
.mall_head .right .carticon .cartinfo { position:absolute; top:37px; left:-221px; width:270px; border:1px solid #bebebe; border-top:4px solid #bebebe; box-shadow:0 0 6px #999; background:#fff; z-index: 11;}
.mall_head .right .carticon .cartinfo .list ul {  padding: 10px 20px 0;  }

.mall_head .right .carticon .cartinfo .list ul li{ margin:0 0 10px;}
.mall_head .right .carticon .cartinfo .list ul li .text {  float: left;  display: inline;  width: 130px;  line-height: 18px;  color: #666;  }

.mall_head .right .carticon .cartinfo .list ul li .money{ float:left; display:inline; width: 100px; height:36px; line-height:36px; color:#f50000;}
.mall_head .right .carticon .cartinfo .list h4{ height:24px; line-height:24px; background:#e4e4e4; text-align:center; font-size:12px;}
.mall_head .right .carticon .cartinfo .list h4 a{ display:block; height:24px; color:#666;}
.mall_head .right .carticon .cartinfo .count{ height:40px; line-height:40px; color:#f50000; text-align:center;}
.mall_head .right .carticon .cartinfo .count .money{ margin:0 0 0 30px;}
.mall_head .right .carticon .cartinfo .button{ padding:5px 0 15px 85px;}
.mall_head .right .carticon .cartinfo .button input{ width:96px; height:24px; margin:0; padding:0; border:0; background:#ff672b; color:#fff; font-size:12px; cursor:pointer;}

.mall_head .right .scoreicon{ position:relative; float:right; width:50px; height:36px; margin:0 0 0 7px; border:1px solid #ccc; background:#f1edec; z-index:9999;}
.mall_head .right .scoreicon .icon_score{ display:block; width:20px; height:22px; margin:7px 0 0 15px; background:url(../img/zg_icon.png) no-repeat -232px -265px; overflow:hidden; cursor:pointer;}
.mall_head .right .scoreicon .icon_hot{ position:absolute; top:-8px; left:37px; width:22px; height:10px; background:url(../img/hot.gif) no-repeat;}

.mall_nav{ height:40px; background:#005bac;}
.mall_nav ul{ float:left; display:inline; width:820px; height:40px; margin:0 0 0 180px;}
.mall_nav ul li{ float:left; display:inline; height:40px; line-height:40px;}
.mall_nav ul li a{ position:relative; float:left; display:block; height:40px; padding:0 19px; color:#fff; font-size:16px;}
.mall_nav ul li a:hover{ background:#f94100; text-decoration:none;}
.mall_nav ul li a.active{ background:#f94100;}
.mall_nav ul li a .icon_hot{ position:absolute; top:-8px; right:0; width:29px; height:20px; background:url(../img/zg_icon.png) no-repeat -230px -431px; overflow:hidden;}
.mall_nav ul li a .icon_free{ position:absolute; top:-8px; right:0; width:29px; height:20px; background:url(../img/zg_icon.png) no-repeat -230px -411px; overflow:hidden;}
.mall_nav ul li a .icon_now{ position:absolute; top:-8px; right:0; width:29px; height:20px; background:url(../img/zg_icon.png) no-repeat -230px -451px; overflow:hidden;}
.mall_nav ul li a .icon_new{ position:absolute; top:-8px; right:0; width:17px; height:21px; background:url(../img/zg_icon.png) no-repeat -230px -471px; overflow:hidden;}
.mall_nav ul li a .icon_new1{ position:absolute; top:-8px; right:0; width:28px; height:20px; background:url(../img/zg_icon.png) no-repeat -159px -534px; overflow:hidden;}
.mall_nav ul li a .icon_new2{ position:absolute; top:-8px; right:0; width:29px; height:20px; background:url(../img/zg_icon.png) no-repeat -187px -534px; overflow:hidden;}

.menu{ position:absolute; top:0; left:0; width:180px; z-index: 9;}
.menu_ul { width: 180px; height:408px; background:#fff; box-shadow:0 0 5px #999;display:none; }

.menu h2{ position:absolute; top:-40px; left:0; float:left; display:inline; width:180px; height:40px;}
.menu h2 a{ display:block; width:180px; height:40px; line-height:40px; background:#0075c2; font-size:16px; color:#fff; font-weight:normal; text-align:center;}
.menu h2 a:hover{ text-decoration:none;}
.menu .icon_arrow{ position:absolute; right:12px; top:18px; display:block; width:9px; height:6px; background:url(../img/zg_icon.png) no-repeat -89px 0; overflow:hidden;}
.menu .item{ position:relative; width:180px; height:67px; border-bottom:1px solid #cfcfcf;}
.menu .item.active{ border-bottom-color:#b3b3b3; box-shadow:0 0 6px #666;}
.menu .item.last{ border-bottom-color:#fff;}

.menu .item .list_factory li a {  cursor: pointer;  }

.menu .item h4{ height:20px; padding:10px 12px 8px 36px; line-height:20px; font-size:16px; color:#3f3f3f; font-weight:normal; }

.menu .item h4.dm {  cursor: pointer;  }

.menu .item h4 .icon_arrow{ float:right; display:inline-block; width:5px; height:7px; background:url(../img/zg_icon.png) no-repeat -200px -20px;}
.menu .item p { height:16px; padding:0 0 0 36px; line-height:16px; color:#666;}
.menu .item p a {  margin:0 8px 0 0;  color: #777;  cursor: pointer;  }
.menu .item p b{ margin:0 2px; color:#f50;}
.menu .item .icon_line{ display:none; position:absolute; left:176px; top:0; width:5px; height:67px; background:#fff; overflow:hidden; z-index:9999;}
.menu .item .icon_view{ position:absolute; left:8px; top:26px; width:18px; height:16px; background:url(../img/zg_icon.png) no-repeat -183px -253px; overflow:hidden;}
.menu .item .icon_view_active{ position:absolute; left:8px; top:26px; width:18px; height:16px; background:url(../img/zg_icon.png) no-repeat -165px -253px; overflow:hidden;}
.menu .item .icon_sun{ position:absolute; left:8px; top:24px; width:18px; height:18px; background:url(../img/zg_icon.png) no-repeat -242px -168px; overflow:hidden;}
.menu .item .icon_sun_active{ position:absolute; left:8px; top:24px; width:18px; height:18px; background:url(../img/zg_icon.png) no-repeat -224px -168px; overflow:hidden;}
.menu .item .icon_carouse{ position:absolute; left:9px; top:26px; width:18px; height:14px; background:url(../img/zg_icon.png) no-repeat -64px -222px; overflow:hidden;}
.menu .item .icon_carouse_active{ position:absolute; left:9px; top:26px; width:18px; height:14px; background:url(../img/zg_icon.png) no-repeat -82px -222px; overflow:hidden;}
.menu .item .icon_map{ position:absolute; left:9px; top:25px; width:18px; height:17px; background:url(../img/zg_icon.png) no-repeat -147px -239px; overflow:hidden;}
.menu .item .icon_map_active{ position:absolute; left:9px; top:25px; width:18px; height:17px; background:url(../img/zg_icon.png) no-repeat -129px -239px; overflow:hidden;}
.menu .item .icon_box{ position:absolute; left:8px; top:24px; width:18px; height:18px; background:url(../img/zg_icon.png) no-repeat -111px -239px; overflow:hidden;}
.menu .item .icon_box_active{ position:absolute; left:8px; top:24px; width:18px; height:18px; background:url(../img/zg_icon.png) no-repeat -93px -239px; overflow:hidden;}
.menu .item .icon_copy{ position:absolute; left:8px; top:24px; width:18px; height:18px; background:url(../img/zg_icon.png) no-repeat -183px -235px; overflow:hidden;}
.menu .item .icon_copy_active{ position:absolute; left:8px; top:24px; width:18px; height:18px; background:url(../img/zg_icon.png) no-repeat -165px -235px; overflow:hidden;}

.menu ul li .info{ position:absolute; top:0; left:180px; width:260px; height:408px; border-left:1px solid #cfcfcf; box-shadow:0 0 8px #ccc; background:#fff;}
.menu ul li .info.one{ top:0; left:180px;}
.menu ul li .info.two{ top:-68px; left:180px;}
.menu ul li .info.three{ top:-136px;; left:180px;}
.menu ul li .info.four{ top:-204px; left:180px;}
.menu ul li .info.five{ top:-272px; left:180px;}
.menu ul li .info.six{ top:-340px; left:180px; width:552px; height:410px;}
.menu ul li .info .list_norm{ height:72px; padding:12px 10px;}
.menu ul li .info .list_norm li{ float:left; display:inline; width:80px; height:24px; overflow: hidden; }
.menu ul li .info .list_norm li a { display:block; width:68px; height:22px; padding: 0 5px; border:1px solid #fff; line-height:22px; color:#777; cursor: pointer; }
.menu ul li .info .list_norm li a:hover{ border-color:#f50; color:#f50; text-decoration:none;}
.menu ul li .info .list_factory{ height:328px;}
.menu ul li .info .list_factory li{ float:left; display:inline; width:184px; height:82px;}
.menu ul li .info .list_factory_btn {  padding-top: 10px;  text-align: center;  }

.menu ul li .info .list_factory_btn a{ display:inline-block; width:15px; height:15px; background:url(../img/zg_icon.png) no-repeat -240px -15px;}
.menu ul li .info .list_factory_btn a.active{ background-position:-240px 0;}
.menu ul li .info h6 { height:30px; padding:0 10px; border-bottom:1px solid #cfcfcf; border-top:1px solid #cfcfcf; line-height:30px; font-size:14px; color:#3d3d3d;}

.menu ul li .info h6 span { display: inline-block;float: right;height: 30px;}

.menu ul li .info h6 .dot { float: left; display:inline-block; width:13px; height:13px; margin:10px 0 0; background:url(../img/zg_icon.png) no-repeat -67px -124px; overflow:hidden;}
.menu ul li .info h6 .dot.active{ background-position:-80px -124px;}
.menu ul li .info .list_company{ padding:20px 10px;}
.menu ul li .info .list_company li{ float:left; display:inline; width: 70px; height:24px;}
.menu ul li .info .list_company li a { display:block; width: 70px; height:24px; padding:0 0 0 10px; line-height:24px; color:#777; cursor: pointer; }
.menu ul li .info .list_img{ padding:10px;}
.menu ul li .info .list_img li{ float:left; display:inline; width:120px; height:40px;}
.menu ul li .info .list_img li img{ display:block; width:110px; height:30px;}

.mall_foot{ padding:30px 0 0; border-top:1px solid #ddd;}
.mall_foot .list{ padding:0 0 40px;}
.mall_foot .list .one{ float:left; display:inline; width:160px; margin:0 10px 0 0; text-align:center; font-size:14px; color:#999;}
.mall_foot .list .one img{ display:block;}
.mall_foot .list .one h5{ color:#666; font-size:12px;}
.mall_foot .list .two{ position:relative; float:left; display:inline; width:139px; margin:0 55px 0 0; border-right:1px solid #cfcfcf;}
.mall_foot .list .two .icon_buy{ position:absolute; top:0; left:-40px; display:block; width:34px; height:34px; background:url(../img/zg_icon.png) no-repeat -223px -66px; overflow:hidden;}
.mall_foot .list .two h4{ padding:10px 0; color:#666; font-size:14px;}
.mall_foot .list .two li{ line-height:24px;}
.mall_foot .list .two li a{ color:#707070;}
.mall_foot .list .three{ position:relative; float:left; display:inline; width:139px; margin:0 55px 0 0; border-right:1px solid #cfcfcf;}
.mall_foot .list .three .icon_sale{ position:absolute; top:0; left:-40px; display:block; width:34px; height:34px; background:url(../img/zg_icon.png) no-repeat -223px -32px; overflow:hidden;}
.mall_foot .list .three h4{ padding:10px 0; color:#666; font-size:14px;}
.mall_foot .list .three li{ line-height:24px;}
.mall_foot .list .three li a{ color:#707070;}
.mall_foot .list .four{ position:relative; float:left; display:inline; width:119px; margin:0 55px 0 0; border-right:1px solid #cfcfcf;}
.mall_foot .list .four .icon_business{ position:absolute; top:0; left:-40px; display:block; width:34px; height:34px; background:url(../img/zg_icon.png) no-repeat -223px -100px; overflow:hidden;}
.mall_foot .list .four h4{ padding:10px 0; color:#666; font-size:14px;}
.mall_foot .list .four li{ line-height:24px;}
.mall_foot .list .four li a{ color:#707070;}
.mall_foot .list .five{ position:relative; float:left; display:inline; width:129px; margin:0 15px 0 0; border-right:1px solid #cfcfcf;}
.mall_foot .list .five .icon_question { position:absolute; top:0; left:-40px; display:block; width:34px; height:34px; background:url(../img/zg_icon.png) no-repeat -223px -134px; overflow:hidden;}
.mall_foot .list .five h4{ padding:10px 0; color:#666; font-size:14px;}
.mall_foot .list .five li{ line-height:24px;}
.mall_foot .list .five li a{ color:#707070;}
.mall_foot .list .six{ float:left; display:inline; width:120px;}
.mall_foot .list .six img{ display:block;}
.mall_foot .link{ color:#666; text-align:center;}
.mall_foot .link a{ color:#666;}
.mall_foot .link a:hover{ color:#f60;}
.mall_foot .text{ padding:10px 0 0; color:#666; text-align:center;}
.mall_foot .img{ padding:10px 0 20px; text-align:center;}
.mall_foot .img img{ margin:0 20px 0 0;}










